{% load bootstrap4 %}
{% block main %}
    <form action="{% url "comprobante.autorizar_masivo_seleccion" %}" method="post" id="form_autorizar_masivo_seleccion">
        {% csrf_token %}
        <div class="modal-body">
            {% if comprobantes_list|length == 0 %}
                <div class="alert alert-danger" style="margin-bottom: 10px; margin-top: 0;">
                    <i class="fa fa-exclamation-circle"></i> No ha seleccionado ningún comprobante <strong>pendiente de autorización</strong>!<br/> Por favor vuelva al listado de comprobantes para corregir su selección.
                </div>
            {% else %}
                <div class="alert alert-info" style="margin-bottom: 10px; margin-top: 0;">
                    <i class="fa fa-exclamation-circle"></i> En esta pantalla podrá autorizar los comprobante que haya seleccionado en el listado de comprobantes.<br/>
                    Recuerde que los comprobantes a autorizar <strong>no</strong> deben haber sido autorizados anteriormente ni tener asociado un punto de venta eliminado, de otra manera serán ignorados.
                </div>
                {% block form %}
                    <input class="form-control" id="nros_comp_autorizar" name="nros_comp_autorizar" type="text" style="display: none" value="{{ nros_comp_autorizar }}">
                    <p>Ha seleccionado autorizar los comprobantes:</p>
                    <div class="ibox-content">
                        <ul>
                        {% for comp in comprobantes_list %}
                            <li>{{ comp }}</li>
                        {% endfor %}
                        </ul>
                    </div>
                    <p>Haga click en el botón <strong>Autorizar</strong> para completar la acción.</p>
                {% endblock %}
                <div id="massive-result" class="alert">
                    <span id="massive-result-header" style="display: none"><strong>Resultado de la autorización:</strong></span>
                    <div id="massive-result-body"></div>
                    <span id="massive-result-footer" style="display: none"></span>
                </div>
            {% endif %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            {% if comprobantes_list|length > 0 %}
                <input type="submit" class="btn btn-primary" id="autorizar_masivo" value="Autorizar"></button>
            {% endif %}
        </div>
    </form>
{% endblock %}