{% load bootstrap4 %}
{% block main %}
    <form action="{% url "comprobante.imprimir_masivo" %}" method="post" id="form_imprimir_masivo">
        {% csrf_token %}
        <div class="modal-body">
            <div class="alert alert-info" style="margin-bottom: 10px; margin-top: 0;">
                <i class="fa fa-exclamation-circle"></i> En esta pantalla podrá imprimir más de un comprobante a la vez. En caso de que no necesite realizar
                la impresión de grandes volumenes de comprobantes al mismo tiempo, debe usar la impresión normal
                (la que se encuentra a nivel de fila del listado de comprobantes).
            </div>
            <p>Seleccione el rango de fechas para el que desea imprimir los comprobantes</p>
            {% block form %}
                {% bootstrap_form form %}
            {% endblock %}
            <div id="massive-result" class="alert">
                <span id="massive-result-header" style="display: none"><strong>Resultado de la impresión:</strong></span>
                <div id="massive-result-body"></div>
                <span id="massive-result-footer" style="display: none"></span>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <input type="submit" class="btn btn-primary" id="imprimir_masivo" value="Imprimir"></button>
        </div>
    </form>
{% endblock %}