{% load bootstrap4 %}
{% block main %}
    <form action="{% url "comprobante.eliminar_masivo" %}" method="post" id="form_eliminar_masivo">
        {% csrf_token %}
        <div class="modal-body">
            <div class="alert alert-info" style="margin-bottom: 10px; margin-top: 0;">
                <i class="fa fa-exclamation-circle"></i> En esta pantalla podrá eliminar más de un comprobante a la vez. <br/> En caso de que no necesite
                eliminar grandes volumenes de comprobantes por fecha masivamente, puede usar la eliminación individual
                (se encuentra en el botón de acciones de cada comprobante) o seleccionar varios comprobantes y hacer click en el botón de Eliminación Masiva.<br/>
                Recuerde que los <strong>comprobantes autorizados no pueden ser eliminados.</strong>
            </div>
            <p>Seleccione el rango de fechas para el que desea eliminar los comprobantes</p>
            {% block form %}
                {% bootstrap_form form %}
            {% endblock %}
            <div id="massive-result" class="alert">
                <span id="massive-result-header" style="display: none"><strong>Resultado de la eliminación:</strong></span>
                <div id="massive-result-body"></div>
                <span id="massive-result-footer" style="display: none"></span>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <input type="submit" class="btn btn-primary" id="eliminar_masivo" value="Eliminar"></button>
        </div>
    </form>
{% endblock %}