{% extends "django_tables2/table.html" %}
{% load django_tables2 %}

{% block table.thead %}
    <thead class="thead-light">
    <tr>
        {% for column in table.columns %}
            {% if column.header == '<input type="checkbox" id="selectAll"/>' %}
                <th width="45"  {{ column.attrs.th.as_html }}>
                    <input id="selectAll" type="checkbox">
                </th>
            {% else %}
                {% if column.orderable %}
                    <th {{ column.attrs.th.as_html }}><a href="{% querystring table.prefixed_order_by_field=column.order_by_alias.next %}">{{ column.header }}</a></th>
                {% else %}
                    <th {{ column.attrs.th.as_html }}>{{ column.header }}</th>
                {% endif %}
            {% endif %}
        {% endfor %}
    </tr>
    </thead>
{% endblock table.thead %}


{% block table.tbody.row %}
    <tr class="{% cycle "odd" "even" %}  {% if  row.record.cae %}success{% elif row.record.observaciones_wsfe or row.record.errores_wsfe %}danger{% endif %}">
        {% for column, cell in row.items %}
            {% if column.name == "enviado"%}
                <td class="detail-click" data-url="{% url "comprobante.preview" row.record.pk %}" {{ column.attrs.td.as_html }}>{% if cell == True %}<i class="fas fa-check-circle"></i>{% else %}<i class="fas fa-times-circle"></i>{% endif %}</td>    
            {% elif column.name != "actions" and column.name != "selection" %}
                <td class="detail-click" data-url="{% url "comprobante.preview" row.record.pk %}" {{ column.attrs.td.as_html }}>{{ cell }}</td>
            {% else %}
                <td {{ column.attrs.td.as_html }}>{{ cell }}</td>
            {% endif %}
        {% endfor %}
    </tr>
{% endblock table.tbody.row %}
