{% extends "base_confirm_delete.html" %}
{% load staticfiles %}

{% block card-body %}
    <h1>{% if object.activo %}Desactivar{% else %}Activar{% endif %}</h1>
    {% if cant_comp_asociados and object.activo %}
        <p class="bg-danger" style="padding: 10px;">El cliente que desea desactivar tiene <strong>{{ cant_comp_asociados }} comprobante{% if cant_comp_autorizados > 1 %}s{% endif %} asociado{% if cant_comp_asociados > 1 %}s{% endif %}.</strong><br/></p>
    {% endif %}
    {% if cant_oc_asociadas and object.activo %}
        <p class="bg-danger" style="padding: 10px;">El cliente que desea desactivar tiene <strong>{{ cant_oc_asociadas }} orden{% if cant_comp_autorizados > 1 %}es{% endif %} de compra asociada{% if cant_comp_asociados > 1 %}s{% endif %}.</strong><br/></p>
    {% endif %}
    {% if object.activo %}
        {% include "empresa/message_delete.html" with entidad=entidad_a_borrar %}
    {% endif %}
    <p>¿Confirma que desea <strong>{% if object.activo %}desactivar{% else %}activar{% endif %}</strong> el siguiente cliente?</p>
    <p><b>Nombre: </b>{{ object.nombre }}<br />
    <b>Tipo de Documento: </b>{{ object.tipo_doc }}<br />
    <b>Nro. de Documento: </b>{{ object.nro_doc }}<br />

    <form action method="post">
        {% csrf_token %}
        <div class="buttonHolder">
            <a class="btn btn-dark" href="{% url "cliente.list" %}">Cancelar</a>
            <input type="submit" name="submit" value="{% if object.activo %}Desactivar{% else %}Activar{% endif %}" class="btn {% if object.activo %}btn-danger{% else %}btn-success{% endif %}">
        </div>
    </form>
{% endblock %}