{% extends "layout_customer.html" %}
{% load staticfiles %}

{% block main %}
    <h1>Eliminar</h1>
    {% if cant_comp_asociados %}
        <p class="bg-danger" style="padding: 10px;">El punto de venta que desea eliminar tiene <strong>{{ cant_comp_asociados }} comprobante{% if cant_comp_autorizados > 1 %}s{% endif %} asociado{% if cant_comp_asociados > 1 %}s{% endif %}.</strong><br/>
        Considere que <strong>NO</strong> podrá autorizar un comprobante asociado a un punto de venta eliminado y si edita un comprobante deberá seleccionar un nuevo punto de venta.</p>
    {% endif %}
    {% include "empresa/message_delete.html" with entidad=entidad_a_borrar %}
    <p>¿Confirma que desea <strong>eliminar</strong> el siguiente punto de venta?</p>
    <p><b>Número Pto de Venta: </b>{{ object.id_afip }}<br />
    <b>Nombre: </b>{{ object.nombre }}<br />
    <form action method="post">
        {% csrf_token %}
        <div class="buttonHolder">
            <a class="btn btn-default" href="{% url "punto_de_venta.list" %}">Cancelar</a>
            <input type="submit" name="submit" value="Eliminar" class="btn btn-danger">
        </div>
    </form>

{% endblock %}