
/* --- SELECT 2 BOOTSTRAP FIX CSS --- */

.select2-selection, .select2-container--default .select2-selection--single, .select2-container .select2-selection--single {
    height: 34px;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #E5E6E7;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    font-size: 14px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: normal;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #000 transparent transparent transparent;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #000 transparent;
    border-width: 0 4px 5px 4px;
}

.select2-container, .select2-selection--single:focus {
    border-color: #1AB394 !important;
    outline: none !important;
}
